<div class="parent">
    <div class="header">
        <div class="title">
            Valuation/Hedging Mark 
            <span *ngIf = "asOfDate" style="font-size: 1rem; font-weight: normal;">
                ({{asOfDate | date:"dd/MM/yyyy" }})
            </span>
        </div>

        <div class="action">
            <button mat-icon-button matTooltip="Clear editing state" matTooltipClass="tooltip-style" (click)="clearEditingState()"><mat-icon class="material-icons-outlined">clear</mat-icon></button>
        </div>


    </div>

    <div class="content">
        <mat-card class="mat-content">
            <ag-grid-angular
            [gridOptions] = "gridOptions"
            [modules] = "agGridModules"
            [rowData] = "rowData"
            class="ag-theme-alpine ag-grid"
            [adaptableOptions] = "adaptableOptions"
            (adaptableReady)="onAdaptableReady($event)"
            (cellValueChanged)="onCellValueChanged($event)"
            >
            </ag-grid-angular>
        </mat-card>
    </div>

</div>