<div class="title">{{ header }}</div>
    
    <!-- Add dynamic load content here -->
<div>
    <div class="success-msg" *ngIf="isSuccessMsgAvailable">
        {{ updateMsg }}
    </div>
    <div class="failure-msg" *ngIf="isFailureMsgAvailable">
        {{ updateMsg }}
    </div>
</div>

         <!-- Don't add any dynamic content here. It introduces scrollbar as it overshoots mat-dialog-content size. -->
<form [formGroup]="capitalActivityForm" autocomplete="off" (ngSubmit)="onSubmit()">

<mat-dialog-content>   
  <div class="input-field">
    <div>
      <mat-form-field appearance="outline" class="edit">
        <mat-label>Call Date</mat-label>
        <input matInput formControlName="callDate" [matDatepicker]="callDatePicker" required/>
        <mat-datepicker-toggle
          matSuffix
          [for]="callDatePicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #callDatePicker></mat-datepicker>
        <button matSuffix mat-icon-button type="button" aria-label="Clear" (click)="capitalActivityForm.get('callDate').reset()">
            <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field appearance="outline" class="edit">
        <mat-label>Capital Type</mat-label>
        <mat-select type="text" required formControlName="capitalType">
          <mat-option
            *ngFor="let capitalType of capitalTypeOptions"
            [value]="capitalType.type"
          >
            {{capitalType.type}}
          </mat-option>
        </mat-select>
        <button matSuffix mat-icon-button aria-label="Clear"  type="button" (click)="capitalActivityForm.get('capitalType').reset()">
            <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      
      <mat-form-field appearance="outline" class="edit">
        <mat-label>Fund Hedging</mat-label>
        <mat-select type="text" required formControlName="fundHedging">
          <mat-option
            *ngFor="let FH of fundHedgingOptions"
            [value]="FH"
          >
            {{FH}}
          </mat-option>
        </mat-select>
        <button matSuffix mat-icon-button aria-label="Clear"  type="button" (click)="capitalActivityForm.get('fundHedging').reset()">
            <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field appearance="outline" class="edit">
        <mat-label>Issuer Short Name</mat-label>
        <mat-select type="text" required formControlName="issuerShortName">
          <mat-option
            *ngFor="let ISS of netISS"
            [value]="ISS[1]"
          >
            {{ISS[0]}}
          </mat-option>
        </mat-select>
        <button matSuffix mat-icon-button aria-label="Clear"  type="button" (click)="capitalActivityForm.get('issuerShortName').reset()">
            <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <!-- <mat-form-field appearance="outline" class="edit">
        <mat-label>Fund Hedging</mat-label>
        <input type="text" matInput required formControlName="fundHedging" [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option
            *ngFor="let fundHedging of fundHedgingFilteredOptions | async"
            [value]="fundHedging"
          >
            {{fundHedging}}
          </mat-option>
        </mat-autocomplete>
        <button matSuffix mat-icon-button aria-label="Clear"  type="button" (click)="capitalActivityForm.get('fundHedging').reset()">
            <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field appearance="outline" class="edit">
        <mat-label>Issuer Short Name</mat-label>
        <input type="text" matInput required formControlName="issuerShortName" [matAutocomplete]="autoISS">
        <mat-autocomplete autoActiveFirstOption #autoISS="matAutocomplete">
          <mat-option
            *ngFor="let ISS of issuerFilteredOptions | async"
            [value]="ISS[1]"
          >
            {{ ISS[0] }}
          </mat-option>
        </mat-autocomplete>
        <button matSuffix mat-icon-button aria-label="Clear"  type="button" (click)="capitalActivityForm.get('issuerShortName').reset()">
            <mat-icon>close</mat-icon>
        </button>
      </mat-form-field> -->

    </div>

    <div>
      <mat-form-field appearance="outline" class="edit">
        <mat-label>Value Date</mat-label>
        <input matInput required formControlName="valueDate" [matDatepicker]="valueDatePicker" />
        <mat-datepicker-toggle matSuffix [for]="valueDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #valueDatePicker></mat-datepicker>
        <button matSuffix mat-icon-button aria-label="Clear" type="button"  (click)="capitalActivityForm.get('valueDate').reset()">
            <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    
      <mat-form-field appearance="outline" class="edit">
        <mat-label>Capital Subtype</mat-label>
        <mat-select type="text" required formControlName="capitalSubType">
          <mat-option
            *ngFor="let capitalSubType of capitalSubTypeOptions"
            [value]="capitalSubType.subtype"
          >
            {{ capitalSubType.subtype }}
          </mat-option>
        </mat-select>
        <button matSuffix mat-icon-button aria-label="Clear" type="button"  (click)="capitalActivityForm.get('capitalSubType').reset()">
            <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field appearance="outline" class="edit">
        <mat-label>Currency</mat-label>
        <mat-select type="text" required formControlName="fundCcy">
          <mat-option
            *ngFor="let ccy of fundCcyOptions"
            [value]="ccy"
          >
            {{ ccy }}
          </mat-option>
        </mat-select>
        <button matSuffix mat-icon-button aria-label="Clear" type="button"  (click)="capitalActivityForm.get('fundCcy').reset()">
            <mat-icon>close</mat-icon>
        </button>

      </mat-form-field>

      <mat-form-field appearance="outline" class="edit">
        <mat-label>Asset</mat-label>
        <mat-select type="text" formControlName="asset">
          <mat-option
            *ngFor="let asset_ of assetOptions"
            [value]="asset_"
          >
            {{ asset_ }}
          </mat-option>
        </mat-select>
        <button matSuffix mat-icon-button aria-label="Clear"  type="button" (click)="capitalActivityForm.get('asset').reset()">
            <mat-icon>close</mat-icon>
        </button>

      </mat-form-field>
    </div>

    <div class="last-col">
      <mat-form-field appearance="outline" class="edit">
        <mat-label> Total Amount </mat-label>
        <input type="number" required matInput formControlName="totalAmount" />
        <button matSuffix mat-icon-button aria-label="Clear" type="button"  (click)="capitalActivityForm.get('totalAmount').reset()">
            <mat-icon>close</mat-icon>
        </button>

      </mat-form-field>
    
      <mat-form-field appearance="outline" class="edit">
        <mat-label>Narrative</mat-label>
        <input matInput formControlName="narrative" />
        <button matSuffix mat-icon-button aria-label="Clear" type="button"  (click)="capitalActivityForm.get('narrative').reset()">
            <mat-icon>close</mat-icon>
        </button>

      </mat-form-field>
    </div>
  </div>
</mat-dialog-content>
</form>

<mat-dialog-actions align="end"> 
    <div class="action">
        <button
        mat-raised-button
        color="primary"
        type="submit"
        (click)="onSubmit()"
        [disabled]="disableSubmit"
        >
        {{ buttontext }}
        </button>
        
        <button class="close-button" type="button" mat-raised-button (click)="closeDialog(capitalAct)" >Close</button>

    </div>
</mat-dialog-actions>