<div class="title">{{ header }}</div>
    
    <!-- Add dynamic load content here -->
<div>
    <div class="success-msg" *ngIf="isSuccessMsgAvailable">
        {{ updateMsg }}
    </div>
    <div class="failure-msg" *ngIf="isFailureMsgAvailable">
        {{ updateMsg }}
    </div>
</div>

         <!-- Don't add any dynamic content here. It introduces scrollbar as it overshoots mat-dialog-content size. -->
<form [formGroup]="capitalActivityForm" autocomplete="off" (ngSubmit)="onSubmit()">

<mat-dialog-content class="main-content">   
  <div class="input-field">
    <div>
      <mat-form-field appearance="outline" class="edit">
        <mat-label>Call Date</mat-label>
        <input matInput formControlName="callDate" [matDatepicker]="callDatePicker" required />
        <mat-datepicker-toggle
          matSuffix
          [for]="callDatePicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #callDatePicker></mat-datepicker>
        <button matSuffix mat-icon-button type="button" aria-label="Clear" (click)="capitalActivityForm.get('callDate').reset()">
            <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field appearance="outline" class="edit">
        <mat-label>Capital Type</mat-label>
        <input type="text" matInput required formControlName="capitalType" [matAutocomplete]="autoCapitalType" matAutocompletePosition="below">
        <mat-error *ngIf="capitalActivityForm.get('capitalType').invalid">Please select capital type from the list</mat-error>
        <mat-autocomplete autoActiveFirstOption #autoCapitalType="matAutocomplete" panelWidth="auto">
          <mat-option
            *ngFor="let capitalType of capitalTypeFilteredOptions | async"
            [value]="capitalType"
          >
            {{capitalType}}
          </mat-option>
        </mat-autocomplete>
        <button matSuffix mat-icon-button aria-label="Clear"  type="button" (click)="capitalActivityForm.get('capitalType').reset()">
            <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      
      <mat-form-field appearance="outline" class="edit">
        <mat-label>Fund Hedging</mat-label>
        <input type="text" matInput required formControlName="fundHedging" [matAutocomplete]="auto" matAutocompletePosition="below">
        <mat-error *ngIf="capitalActivityForm.get('fundHedging').invalid">Please select fund hedging from the list</mat-error>
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" disableOptionCentering panelWidth="auto">
          <mat-option
            *ngFor="let fundHedging of fundHedgingFilteredOptions | async"
            [value]="fundHedging"
          >
            {{fundHedging}}
          </mat-option>
        </mat-autocomplete>
        <button matSuffix mat-icon-button aria-label="Clear"  type="button" (click)="capitalActivityForm.get('fundHedging').reset()">
            <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field appearance="outline" class="edit">
        <mat-label>Issuer</mat-label>
        <input type="text" matInput formControlName="issuerShortName" [matAutocomplete]="autoissuer" matAutocompletePosition="below">
        <mat-error *ngIf="capitalActivityForm.get('issuerShortName').invalid">Please select issuer from the list</mat-error>
        <mat-autocomplete autoActiveFirstOption #autoissuer="matAutocomplete" disableOptionCentering panelWidth="auto" class="capital-autocomplete-panel" classList="capital-autocomplete-panel">
          <mat-option
            *ngFor="let ISS of issuerFilteredOptions | async"
            [value]="ISS[1]"
          >
            {{ISS[0]}}
          </mat-option>
        </mat-autocomplete>
        <button matSuffix mat-icon-button aria-label="Clear"  type="button" (click)="capitalActivityForm.get('issuerShortName').reset()">
            <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

    </div>

    <div>
      <mat-form-field appearance="outline" class="edit">
        <mat-label>Value Date</mat-label>
        <input matInput required formControlName="valueDate" [matDatepicker]="valueDatePicker" />
        <mat-datepicker-toggle matSuffix [for]="valueDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #valueDatePicker></mat-datepicker>
        <button matSuffix mat-icon-button aria-label="Clear" type="button"  (click)="capitalActivityForm.get('valueDate').reset()">
            <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    
      <mat-form-field appearance="outline" class="edit">
        <mat-label>Capital SubType</mat-label>
        <input type="text" matInput required formControlName="capitalSubType" [matAutocomplete]="autoSubType" matAutocompletePosition="below">
        <mat-error *ngIf="capitalActivityForm.get('capitalSubType').invalid">Please select capital subtype from the list</mat-error>
        <mat-autocomplete autoActiveFirstOption #autoSubType="matAutocomplete" panelWidth="auto">
          <mat-option
            *ngFor="let subtype of capitalSubTypeFilteredOptions | async"
            [value]="subtype"
          >
            {{subtype}}
          </mat-option>
        </mat-autocomplete>
        <button matSuffix mat-icon-button aria-label="Clear"  type="button" (click)="capitalActivityForm.get('capitalSubType').reset()">
            <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field appearance="outline" class="edit">
        <mat-label>Currency</mat-label>
        <input type="text" matInput required formControlName="fundCcy" [matAutocomplete]="autoCcy" matAutocompletePosition="below">
        <mat-error *ngIf="capitalActivityForm.get('fundCcy').invalid">Please select currency from the list</mat-error>
        <mat-autocomplete autoActiveFirstOption #autoCcy="matAutocomplete" panelWidth="auto">
          <mat-option
            *ngFor="let ccy of fundCcyFilteredOptions | async"
            [value]="ccy"
          >
            {{ccy}}
          </mat-option>
        </mat-autocomplete>
        <button matSuffix mat-icon-button aria-label="Clear"  type="button" (click)="capitalActivityForm.get('fundCcy').reset()">
            <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field appearance="outline" class="edit">
        <mat-label>Asset</mat-label>
        <input type="text" matInput formControlName="asset" [matAutocomplete]="autoAsset" matAutocompletePosition="below">
        <mat-error *ngIf="capitalActivityForm.get('asset').invalid">Please select asset from the list</mat-error>

        <mat-autocomplete autoActiveFirstOption #autoAsset="matAutocomplete" class="capital-autocomplete-panel" classList="capital-autocomplete-panel"  panelWidth="auto">
          <mat-option
            *ngFor="let asset of assetFilteredOptions | async"
            [value]="asset"
          >
            {{asset}}
          </mat-option>
        </mat-autocomplete>
        <button matSuffix mat-icon-button aria-label="Clear"  type="button" (click)="capitalActivityForm.get('asset').reset()">
            <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

    </div>

    <div class="last-col">
      <mat-form-field appearance="outline" class="edit">
        <mat-label> Total Amount </mat-label>
        <input type="number" required matInput formControlName="totalAmount" />
        <button matSuffix mat-icon-button aria-label="Clear" type="button"  (click)="capitalActivityForm.get('totalAmount').reset()">
            <mat-icon>close</mat-icon>
        </button>

      </mat-form-field>
    
      <mat-form-field appearance="outline" class="edit">
        <mat-label>Narrative</mat-label>
        <input matInput formControlName="narrative" />
        <button matSuffix mat-icon-button aria-label="Clear" type="button"  (click)="capitalActivityForm.get('narrative').reset()">
            <mat-icon>close</mat-icon>
        </button>

      </mat-form-field>
    </div>
  </div>
</mat-dialog-content>
</form>

<mat-dialog-actions align="end"> 
    <div class="action">
        <button
        mat-raised-button
        color="primary"
        type="submit"
        (click)="onSubmit()"
        [disabled]="disableSubmit"
        >
        {{ buttontext }}
        </button>
        
        <button class="close-button" type="button" mat-raised-button (click)="closeDialog(capitalAct)" >Close</button>

    </div>
</mat-dialog-actions>