<div class="parent">
<div class="capital-header">
    <div class="capital-title">Capital Activity</div>
    <br>
    <div class="capital-action">

        <button mat-icon-button (click)="utilSvc.openConfigDialog()" 
            matTooltip="Lock Investor Cashflows" 
            matTooltipClass="tooltip-capital">
            <mat-icon class="material-icons-outlined">lock_clock</mat-icon>
        </button>

        <button mat-icon-button (click)="utilSvc.updateInvestmentLinking()" matTooltip="Linking selected investments to investor cashflows" matTooltipClass="tooltip-capital">
            <mat-icon class="material-icons-outlined">link</mat-icon>
        </button>

        <button mat-icon-button (click)="utilSvc.openBulkUploadDialog()"
            matTooltip="Bulk Upload"
            matTooltipClass="tooltip-capital">
            <mat-icon class="material-icons-outlined">file_upload</mat-icon>
        </button>
            
        <button mat-icon-button (click)="utilSvc.openDialog()"
            matTooltip="Add"
            matTooltipClass="tooltip-capital">
            <mat-icon class="material-icons-outlined">add_circle_outline</mat-icon>
        </button>

    </div>
</div>

<div class="content">
    <mat-card class="mat-content">
        <mat-accordion class="accordion-headers" multi [hideToggle]="false">
            <mat-expansion-panel (opened)="invstmntPanelOpenState = true" (closed)="invstmntPanelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Investment Cashflows
                    </mat-panel-title>
                    <mat-panel-description>  
                        <div>
                            
                        </div>
                        <mat-icon *ngIf="!invstmntPanelOpenState" class="header-icons">expand_more</mat-icon>
                        <mat-icon *ngIf="invstmntPanelOpenState" class="header-icons">expand_less</mat-icon>
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <app-investment [rowData]="investmentData$ | async" 
                    style="height: calc(100vh - 64px - 40px - 64px - 40px - 48px - 10px);">
                </app-investment>

            </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion class="accordion-headers" multi [hideToggle]="false">
            <mat-expansion-panel (opened)="investorPanelOpenState = true" (closed)="investorPanelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Investor Cashflows
                    </mat-panel-title>
                    <mat-panel-description> 
                        <div>
                            
                        </div>
                        <mat-icon *ngIf="!investorPanelOpenState" class="header-icons">expand_more</mat-icon>
                        <mat-icon *ngIf="investorPanelOpenState" class="header-icons">expand_less</mat-icon>
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <app-investor [rowData]="investorData$ | async" 
                    style="height: calc(100vh - 64px - 40px - 48px - 64px - 40px - 10px);">
                </app-investor>

            </mat-expansion-panel>
        </mat-accordion> 
        
    </mat-card>
</div>

</div>