* {
    padding: 0;
    margin: 0;
    font-size: 62.5% /* = 10px*/;
  }

.parent{
    display: flex;
    flex-flow: column;
    height: 100%;
}

.parent .content{
    flex: 1 1 auto;
    margin: 0 15px 0 25px;
}
  .capital-title {
    padding: 0;
    font-size: 1.6rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #1e2a46;
  }
  
  .material-icons-outlined {
    color: #0590ca;
    font-size:1.6rem;
  }
  
  .capital-header {
    padding-left: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .capital-action{
      margin-right: 2rem;
  }
  
  .mat-content{
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      
      padding: 0%;
  }

  .ag-grid{
      height: calc(100% - 1rem);
      font-size: 0.8rem;
  }

  .grid{
    height: 50%;
    font-size: 0.8rem;
  }

  .grid-title{
    font-size: 0.8rem;
  }

  .grid-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-icons{
    font-size: 1.4rem;
  }

  .grid-full{
    height: 100%;
    font-size: 0.8rem;
  }

  .grid-zero{
    height: 0%;
  }

  mat-panel-title{
    font-size: 1rem;
    padding-left: 1rem;
  }

  mat-panel-description{
    font-size: 1rem;
  }

  // To fix starting position of Expansion panel description, if it exists
  .accordion-headers .mat-expansion-panel-header-title,
  .accordion-headers .mat-expansion-panel-header-description {
    flex-basis: 0;
  }
  
  .accordion-headers .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }

  .tooltip-capital{
    font-size: 1rem;
  }