<div class="element">
    Latest
    <mat-slide-toggle
        [color] = "'primary'"
        [(ngModel)] = "isLatest"
        (ngModelChange) = "onLatestToggle($event)"
    >
    </mat-slide-toggle>
</div>

<div class="element">
    Funds
    <app-multi-select
        [placeholder] = "'Select Fund(s)'"
        [settings] = "fundSettings"
        [dropdownData] = "funds"
        [selectedDropdownData] = "preSelectedFunds"
        (onNgModelChangeCallback) = "onFundChange($event)"
        >
    </app-multi-select>
</div>
