Funds
<app-multi-select 
    [placeholder] = "'Select Fund(s)'"
    [settings] = "fundSettings"
    [dropdownData] = "funds"
    [selectedDropdownData] = "preSelectedFunds"
    (onNgModelChangeCallback) = "onFundChange($event)"
    >
</app-multi-select>

Contract Type
<app-multi-select
    [placeholder] = "'Select Contract Type'"
    [settings] = "contractTypeSettings"
    [dropdownData] = "contractTypes"
    [selectedDropdownData] = "preSelectedContractTypes"
    (onNgModelChangeCallback) = "onContractTypeChange($event)"
></app-multi-select>

Latest
<mat-slide-toggle
    [color] = "'primary'"
    [(ngModel)] = "isLatest"
    (ngModelChange) = "onLatestToggle($event)"
>
</mat-slide-toggle>