<div class="parent">
    <div class="header">
        <div class="title">
            Equalisation - Portfolio History
            <span *ngIf = "changeInAsOfDate$ | async as dt" style="font-size: 1rem; font-weight: normal;">
                ({{dt | date:"dd/MM/yyyy"}})
            </span>
        </div>

        <div class="action">
        </div>    
    </div>

    <div class="content">
        <mat-card appearance="raised" class="mat-content">

                <app-grid>
                </app-grid>
        </mat-card>
    </div>
</div>

