<mat-toolbar color="#3dc3d6">
   <button mat-icon-button class="menu-icon"  (click)="leftSIdebarOpened=!leftSIdebarOpened" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
          </button> 
  <div>
    <img class="logo-img" src="../assets/img/arc-logo2.png" />
  </div>
  <span>ARK</span>
  <span class="example-spacer"></span>
  <div [matMenuTriggerFor]="menu" class="user-details">
    <mat-icon class="user-icon">account_circle</mat-icon>
    <span class="user-name"> {{userName}} </span>    
</div>
<mat-menu #menu="matMenu">
  <button (click)="logout()" mat-menu-item> <mat-icon>logout</mat-icon> Logout</button>
</mat-menu>
</mat-toolbar>
<mat-sidenav-container [hasBackdrop]="false">
<mat-sidenav mode="side" class="left-sidenav" [(opened)]="leftSIdebarOpened" position="start">

  <mat-list>
    <mat-list-item routerLink="/" (click)= "leftSIdebarOpened = false; updateFilterPane('Portfolio')" [ngStyle]="GIREditorStyle">
      Going In Rates Editor
    </mat-list-item>
  </mat-list>

  <mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel [expanded]="false" >
      <mat-expansion-panel-header>
        <mat-panel-title>
          
         Liquidity
        </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-list>
        <mat-list-item routerLink="/cash-balance" (click)= "leftSIdebarOpened = false; updateFilterPane('Cash Balance');" [ngStyle]="CashBalanceStyle">
            Cash Balance
          </mat-list-item>
        </mat-list>

      <mat-list>
        <mat-list-item routerLink="/capital-activity" (click)= "leftSIdebarOpened = false; updateFilterPane('Capital Activity');" [ngStyle]="CapitalActivityStyle">
            Capital Activity
        </mat-list-item>
      </mat-list>
  
  
    </mat-expansion-panel>
  </mat-accordion>

</mat-sidenav>
<mat-sidenav  class="right-sidenav" #right [(opened)]="rightSidebarOpened" position="end">
 
<div class="sidenav-right-heading">
  FILTER PANE
</div>

<div *ngIf="filterPane.AsOfDate">
  <div class="form-input">
    
    <mat-form-field appearance="outline" class="date-form-field" color="primary">
      <mat-label>As of Date</mat-label>
      <mat-date-range-input [formGroup]="searchDateRange" [rangePicker]="picker">
        <input matStartDate formControlName="start" placeholder="Start date">
        <input matEndDate formControlName="end" placeholder="End date">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker>
        <mat-date-range-picker-actions>
          <button mat-button matDateRangePickerCancel>Cancel</button>
          <button mat-raised-button color="primary" (click)="rightSidebarOpened=!rightSidebarOpened; getSearchDateRange();" matDateRangePickerApply>Apply</button>
        </mat-date-range-picker-actions>
      </mat-date-range-picker>
    
      <mat-error *ngIf="searchDateRange.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
      <mat-error *ngIf="searchDateRange.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
    </mat-form-field>

  </div>
</div>

</mat-sidenav>
<mat-sidenav-content>

  <div class="filter-btn-row">
    <mat-icon class="filter-btn" (click)="rightSidebarOpened=!rightSidebarOpened">
      filter_alt
      </mat-icon>
  </div>

<router-outlet></router-outlet>

</mat-sidenav-content>


</mat-sidenav-container>

