  <mat-toolbar color="#3dc3d6">
     <button mat-icon-button class="menu-icon"  (click)="leftSIdebarOpened=!leftSIdebarOpened" aria-label="Example icon-button with menu icon">
              <mat-icon>menu</mat-icon>
            </button>
    <div routerLink="/" (click)="leftSIdebarOpened = false; updateSelection('')" style="cursor: pointer;">
      <img class="logo-img" src="../assets/img/arc-logo2.png" />
  
      <span>ARK</span>
    </div>
    <span class="example-spacer"></span>
  
    <a target="_blank"
    href="https://arcmont.sharepoint.com/:w:/s/ArkWeb/Eau2heUEkSFEiI6lgMS6bQsBnkMJC3VGWORe9ahp-N-F0g">
    <mat-icon
    matTooltip="User Guide"
      class="help-icon">help
    </mat-icon>
    </a>
  
    <div [matMenuTriggerFor]="menu" class="user-details">
      <mat-icon class="user-icon" >account_circle</mat-icon>
      <span class="user-name"> {{userName}} </span>
  </div>
  <mat-menu #menu="matMenu">
    <button (click)="logout()" mat-menu-item> <mat-icon>logout</mat-icon> Logout</button>
    <button (click)="showUserRoles()" mat-menu-item> <mat-icon>group</mat-icon> Roles</button>
  </mat-menu>
  </mat-toolbar>
  <mat-sidenav-container [hasBackdrop]="false">
  <mat-sidenav mode="side" class="left-sidenav" [(opened)]="leftSIdebarOpened" position="start">
  
    <mat-accordion class="example-headers-align" multi>
      <mat-expansion-panel [expanded]="false" >
        <mat-expansion-panel-header [expandedHeight]="'48px'" [collapsedHeight]="'48px'">
          <mat-panel-title>
  
           Liquidity
          </mat-panel-title>
        </mat-expansion-panel-header>
  
        <mat-list>
          <mat-list-item (click)= "leftSIdebarOpened = false; updateSelection('Liquidity Summary');" [ngStyle]="LiquiditySummaryStyle">
            <div class="list-item-text"> Liquidity Summary </div>
            </mat-list-item>
          <mat-list-item (click)= "leftSIdebarOpened = false; updateSelection('Cash Balance');" [ngStyle]="CashBalanceStyle">
            <div class="list-item-text"> Cash Balance </div>
            </mat-list-item>
          <mat-list-item (click)= "leftSIdebarOpened = false; updateSelection('Capital Activity');" [ngStyle]="CapitalActivityStyle">
            <div class="list-item-text">Capital Activity</div>
          </mat-list-item>
          <mat-list-item (click)= "leftSIdebarOpened = false; updateSelection('Unfunded Assets');" [ngStyle]="UnfundedAssetsStyle">
            <div class="list-item-text">Unfunded Assets</div>
          </mat-list-item>
        </mat-list>  
  
      </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion>
    <mat-expansion-panel [expanded]="false" >
      <mat-expansion-panel-header [expandedHeight]="'48px'" [collapsedHeight]="'48px'">
        <mat-panel-title>
         Returns
        </mat-panel-title>
      </mat-expansion-panel-header>
  
      <mat-list>
        <mat-list-item (click)= "leftSIdebarOpened = false; updateSelection('Facility Detail')" [ngStyle]="FacilityDetailStyle">
          <div class="list-item-text">Asset Browser</div>
        </mat-list-item>
        <mat-list-item (click)= "leftSIdebarOpened = false; updateSelection('Portfolio Modeller')" [ngStyle]="PortfolioModellerStyle">
          <div class="list-item-text">Portfolio Modeller</div>
        </mat-list-item>
      </mat-list>

    </mat-expansion-panel>
  </mat-accordion>


  <mat-accordion>
    <mat-expansion-panel [expanded]="false" >
      <mat-expansion-panel-header [expandedHeight]="'48px'" [collapsedHeight]="'48px'">
        <mat-panel-title>
         Portfolio
        </mat-panel-title>
      </mat-expansion-panel-header>
  
      <mat-list>
        <mat-list-item (click)= "leftSIdebarOpened = false; updateSelection('Positions Screen')" [ngStyle]="PositionsScreenStyle">
          <div class="list-item-text">Positions</div>
        </mat-list-item>
      </mat-list>

      <mat-list>
        <mat-list-item (click)= "leftSIdebarOpened = false; updateSelection('Hedging Mark')" [ngStyle]="HedgingMarkStyle">
          <div class="list-item-text">Valuation/Hedging Mark</div>
        </mat-list-item>
      </mat-list>

      <mat-list>
        <mat-list-item (click)= "leftSIdebarOpened = false; updateSelection('AUM Delta')" [ngStyle]="AUMDeltaStyle">
          <div class="list-item-text">AUM Delta</div>
        </mat-list-item>
      </mat-list>

    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion>
    <mat-expansion-panel [expanded]="false" >
      <mat-expansion-panel-header [expandedHeight]="'48px'" [collapsedHeight]="'48px'">
        <mat-panel-title> Fees </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-list>
        <mat-list-item (click)= "leftSIdebarOpened = false; updateSelection('Fee Presets')" [ngStyle]="FeePresetStyle">
          <div class="list-item-text">Fee Presets</div>
        </mat-list-item> 
        <mat-list-item (click)= "leftSIdebarOpened = false; updateSelection('Performance Fees')" [ngStyle]="PerformanceFeesStyle">
          <div class="list-item-text">Performance Fees</div>
        </mat-list-item>          
        <mat-list-item (click)= "leftSIdebarOpened = false; updateSelection('Management Fee')" [ngStyle]="ManagementFeeStyle">
          <div class="list-item-text">Management Fees</div>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>
  </mat-accordion>
  
  <mat-accordion>
      <mat-expansion-panel [expanded]="false" >
        <mat-expansion-panel-header [expandedHeight]="'48px'" [collapsedHeight]="'48px'">
          <mat-panel-title>
           Misc.
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-list>
          <mat-list-item (click)= "leftSIdebarOpened = false; updateSelection('Contract History')" [ngStyle]="ContractHistoryStyle">
            <div class="list-item-text">Contract History</div>
          </mat-list-item>
          <mat-list-item (click)= "leftSIdebarOpened = false; updateSelection('GIREditor')" [ngStyle]="GIREditorStyle">
            <div class="list-item-text">Going In Rates Editor</div>
          </mat-list-item>
          <mat-list-item (click)= "leftSIdebarOpened = false; updateSelection('Portfolio Mapping')" [ngStyle]="PortfolioMappingStyle">
            <div class="list-item-text">Portfolio Mapping</div>
          </mat-list-item>
          <mat-list-item (click)= "leftSIdebarOpened = false; updateSelection('Fixing Attributes')" [ngStyle]="FixingAttributesStyle">
            <div class="list-item-text">Fixing Attributes</div>
          </mat-list-item>
        </mat-list>

      </mat-expansion-panel>
  </mat-accordion>

    <mat-accordion>
      <mat-expansion-panel [expanded]="false" >
        <mat-expansion-panel-header [expandedHeight]="'48px'" [collapsedHeight]="'48px'">
          <mat-panel-title>
           Admin Center
          </mat-panel-title>
        </mat-expansion-panel-header>
  
        <mat-list>
          <mat-list-item (click)= "leftSIdebarOpened = false; updateSelection('Access Control')" [ngStyle]="AccessControlStyle">
            <div class="list-item-text">Access Control</div>
          </mat-list-item>

          <mat-list-item (click)= "leftSIdebarOpened = false; updateSelection('Ref Data Manager')" [ngStyle]="RefDataManagerStyle">
            <div class="list-item-text">Ref Data Manager</div>
          </mat-list-item>
        </mat-list>
  
      </mat-expansion-panel>
    </mat-accordion>

  
  </mat-sidenav>
  <mat-sidenav  class="right-sidenav" #right [(opened)]="rightSidebarOpened" position="end">
  
    <div class="sidenav-right-heading right-cont">
      <span>Filter Pane</span>
      <button mat-raised-button id="apply-button"  
        *ngIf="[
        '/facility-detail', '/liquidity-summary', '/fee-calculation', '/management-fee',
        '/irr/portfoliomodeller', '/contract-history', '/cash-balance','/positions-screen','/hedging-mark','/aum-delta'].includes(location.path())" 
        (click)="filterApply()">Apply</button>
    </div>

    <div *ngIf="location.path() === '/cash-balance'" class="filter-element">
      <app-cash-balance-filter></app-cash-balance-filter>
    </div>
    
    <div *ngIf="location.path() === '/contract-history'" class="filter-element">
      <app-contract-history-filter [funds] = "funds"></app-contract-history-filter>
    </div>

    <div *ngIf="location.path() === '/facility-detail'" class="filter-element">
      <app-facility-detail-filter [funds] = "funds"></app-facility-detail-filter>
    </div>

    <div *ngIf="location.path() === '/liquidity-summary'" class="filter-element">
      <app-liquidity-summary-filter [fundHedgings] = "fundHedgings"></app-liquidity-summary-filter>
    </div>

    <div *ngIf="location.path() === '/irr/portfoliomodeller'" class="filter-element">
      <app-irr-calculation-filter></app-irr-calculation-filter>
    </div>

    <div *ngIf="location.path() === '/fee-calculation'" class="filter-element">
      <app-fee-calculation-filter [entities] = "entities"></app-fee-calculation-filter>
    </div>

    <div *ngIf="location.path() === '/ref-data-manager'" class="filter-element">
      <app-ref-data-manager-filter [refDataFilter] = "refDataFilter"></app-ref-data-manager-filter>
    </div>

    <div *ngIf="location.path() === '/management-fee'" class="filter-element">
      <app-management-fee-filter></app-management-fee-filter>
    </div>

    <div *ngIf="location.path() === '/positions-screen'" class="filter-element">
      <app-position-screen-filter></app-position-screen-filter>
    </div>

    <div *ngIf="location.path() === '/hedging-mark'" class="filter-element">
      <app-position-screen-filter></app-position-screen-filter>
    </div>

    <div *ngIf="location.path() === '/aum-delta'" class="filter-element">
      <app-aum-delta-filter></app-aum-delta-filter>
    </div>

  </mat-sidenav>

  <mat-sidenav-content>  
    <div class="filter-btn-row">
      <mat-icon class="filter-btn" (click)="rightSidebarOpened=!rightSidebarOpened">
        filter_alt
        </mat-icon>
    </div>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>