  <mat-toolbar color="#3dc3d6">
     <button mat-icon-button class="menu-icon"  (click)="leftSIdebarOpened=!leftSIdebarOpened" aria-label="Example icon-button with menu icon">
              <mat-icon>menu</mat-icon>
            </button>
    <div routerLink="/" (click)="leftSIdebarOpened = false; updateSelection('')" style="cursor: pointer;">
      <img class="logo-img" src="../assets/img/arc-logo2.png" />
  
      <span>ARK</span>
    </div>
    <span class="example-spacer"></span>
  
    <a target="_blank"
    href="https://arcmont.sharepoint.com/:w:/s/ArkWeb/Eau2heUEkSFEiI6lgMS6bQsBnkMJC3VGWORe9ahp-N-F0g">
    <mat-icon
    matTooltip="User Guide"
      class="help-icon">help
    </mat-icon>
    </a>
  
    <div [matMenuTriggerFor]="menu" class="user-details">
      <mat-icon class="user-icon" >account_circle</mat-icon>
      <span class="user-name"> {{userName}} </span>
  </div>
  <mat-menu #menu="matMenu">
    <!-- <button (click)="logout()" mat-menu-item> <mat-icon>logout</mat-icon> Logout</button> -->
    <!-- <button (click)="showUserRoles()" mat-menu-item> <mat-icon>group</mat-icon> Roles</button> -->
  </mat-menu>
  </mat-toolbar>
  <mat-sidenav-container [hasBackdrop]="false">
  <mat-sidenav mode="side" class="left-sidenav" [(opened)]="leftSIdebarOpened" position="start">
  



  <mat-accordion>
    <mat-expansion-panel [expanded]="false" >
      <mat-expansion-panel-header [expandedHeight]="'48px'" [collapsedHeight]="'48px'">
        <mat-panel-title>
         Portfolio
        </mat-panel-title>
      </mat-expansion-panel-header>
  
      <mat-list>

        <mat-list-item (click)= "leftSIdebarOpened = false; updateSelection('Market Value Delta')" [ngStyle]="MarketValueDeltaStyle" >
          <div class="list-item-text">Market Value Delta</div>
        </mat-list-item>
        <mat-list-item (click)= "leftSIdebarOpened = false; updateSelection('Facility Detail')" [ngStyle]="FacilityDetailStyle">
          <div class="list-item-text">Asset Browser</div>
        </mat-list-item>
        <mat-list-item (click)= "leftSIdebarOpened = false; updateSelection('AUM Report')" [ngStyle]="">
          <div class="list-item-text">AUM Report</div>
        </mat-list-item>
        <mat-list-item (click)= "leftSIdebarOpened = false; updateSelection('Ref Data Manager')" [ngStyle]="">
          <div class="list-item-text">Ref Data Manager</div>
        </mat-list-item>

       
      </mat-list>
    </mat-expansion-panel>
  </mat-accordion>
  
  </mat-sidenav>
  <mat-sidenav  class="right-sidenav" #right [(opened)]="rightSidebarOpened" position="end">
  
    <div class="sidenav-right-heading right-cont">
      <span>Filter Pane</span>
      <button mat-raised-button id="apply-button"  
        *ngIf="['/market-value-delta'].includes(location.path())" 
        (click)="filterApply()">Apply</button>
    </div>

    <ng-container *ngIf="isMsalInstanceInitialized">
      
  

    </ng-container>
    

  </mat-sidenav>

  <mat-sidenav-content>  


    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>