<!-- Mark Type field: HedgingMark or Mark -->

<div class="row ">

    <div class="col-2">
        <mat-form-field appearance="fill">
            <mat-label>Choose mark type</mat-label>
            <mat-select [formControl]="markType" disableOptionCentering>
                <mat-option value="Hedging Mark">Hedging Mark</mat-option>
                <mat-option value="Mark Override">Mark Override</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="col-10 my-2">
        <app-multi-select
            [placeholder] = "'Selected positions'"
            [settings]    = "settings"
            [dropdownData]= "positionsDropdown"
            [selectedDropdownData] = "selectedpositions"
            (onNgModelChangeCallback) = "onSelectedPositionsChange($event)">
        </app-multi-select>
    </div>

</div>