.mdc-dialog__surface{
    padding: 24px !important
}

.mdc-dialog__title{
    padding: 0px !important
}

.mdc-dialog__actions{
    padding: 0px !important;
}

.mdc-dialog__actions .action{
    padding: 0px !important;
}

.mdc-dialog .mdc-dialog__content{
    padding: 0px 0px 0px 0px !important;
}

.mat-mdc-dialog-container .mdc-dialog__content{
    --mdc-dialog-supporting-text-color: #000000de;
    --mdc-dialog-supporting-text-size: 14px;
}

.mat-mdc-icon-button.mat-mdc-button-base{
    --mdc-icon-button-state-layer-size: 40px;
    padding: 8px !important;
    font-size: 100% !important;
}

.mdc-button{
   --mdc-typography-button-letter-spacing: normal;
}

.mat-mdc-card-content{
    padding: 16px 10px !important;
}

.mat-mdc-card-content:first-child{
    padding-top: 0px !important
}

.mdc-list-item__primary-text{
    --mdc-list-list-item-label-text-weight: bold;
    --mdc-list-list-item-label-text-size: 15px;
    --mdc-list-list-item-label-text-font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.mat-expansion-indicator::after{
    --mat-expansion-header-indicator-color: white;
}

.mat-expansion-panel-header{
    --mat-expansion-header-text-size: 15px;
    --mat-expansion-header-text-weight: 400;
    --mat-expansion-header-text-font: 'Roboto','Helvetica Neue',sans-serif;
}

.mat-mdc-menu-content .mat-mdc-menu-item .mat-mdc-menu-item-text{
    --mat-menu-item-label-text-size: 14px;
    --mat-menu-item-label-text-font: 'Roboto','Helvetica Neue',sans-serif;
    --mat-menu-item-label-text-weight: 400;
}

.mat-mdc-menu-item .mat-icon-no-color{
    --mat-menu-item-icon-color: #0000008a;
}

.mat-mdc-snack-bar-container .mat-mdc-button.mat-mdc-snack-bar-action:not(:disabled){
    --mat-snack-bar-button-color: orange;
}

.mat-mdc-snack-bar-container{
    margin: 24px !important
}

.mat-calendar-controls {
    margin: 0px !important;
}

.mat-datepicker-toggle .mat-mdc-button-base{
    padding-top: 10% !important;
}

.mat-mdc-form-field{   
    --mat-form-field-container-text-size: 14px;
    --mdc-typography-body1-font-size: 14px;
}

.mat-mdc-form-field .mdc-text-field--outlined .mdc-notched-outline--upgraded .mdc-floating-label--float-above{
    font-size: 14px !important;
}

.mdc-text-field--outlined .mdc-floating-label{
    --mdc-outlined-text-field-label-text-size: 14px;
    --mdc-outlined-text-field-label-text-font: 'Roboto','Helvetica Neue',sans-serif;
}

.mat-mdc-option{
    --mdc-typography-body1-font-size: 14px;
}

.mat-mdc-tab{
    --mat-tab-header-label-text-tracking: normal;
    --mat-tab-header-label-text-font: 'Roboto','Helvetica Neue',sans-serif;
}

.mdc-tab__text-label{
    line-height: 1.5 !important;
}

.mat-step-label.mat-step-label-selected{
    --mat-stepper-header-selected-state-label-text-size: 14px
}

.mat-icon{
    height: auto !important
}