.mat-calendar-controls {
    margin: 0px !important;
}


.mat-datepicker-toggle .mat-mdc-button-base{
    padding-top: 10% !important;
}

.mat-mdc-form-field{   
    --mdc-typography-body1-font-size: 14px;
}

.mat-mdc-form-field .mdc-text-field--outlined .mdc-notched-outline--upgraded .mdc-floating-label--float-above{
    font-size: 14px !important;
}

.mat-mdc-option{
    --mdc-typography-body1-font-size: 14px;
}
