<div class="element">
    Fund Hedging
    <app-multi-select
        [placeholder] = "'Select FundHedging(s)'"
        [settings] = "fundHedgingSettings"
        [dropdownData] = "fundHedgings"
        [selectedDropdownData] = "preSelectedFundHedgings"
        (onNgModelChangeCallback) = "onFundHedgingChange($event)"
        >
    </app-multi-select>
</div>

<div class="element">
    <mat-form-field appearance="outline">
      <mat-label>As Of Date</mat-label>
      <input autocomplete="off"  matInput [matDatepicker]="Datepicker" [(ngModel)]="asOfDate" (ngModelChange) = "onAsOfDateChange($event)">
      <mat-datepicker-toggle matSuffix [for]="Datepicker"></mat-datepicker-toggle>
      <mat-datepicker #Datepicker></mat-datepicker>
    </mat-form-field>
</div>

<div class="element">
    <mat-form-field appearance="outline">
      <mat-label>FX PnL days</mat-label>
      <input type="number" autocomplete="off" matInput [(ngModel)]="days" (ngModelChange) = "onDaysChange($event)">
    </mat-form-field>
</div>