<html>
    <body>
        <div *ngIf="!isDeletable">
            There is no GIR to delete.
            <div mat-dialog-actions align="end">
                <button mat-raised-button cdkFocusInitial (click)="this.closeDialog()">Close</button>
            </div>
        </div>
        <div *ngIf="isDeletable">
            <span> Are you sure to delete this GIR? </span>
            
                <div *ngIf="isSuccess || isFailure"
                    [class.success-msg]="isSuccess"
                    [class.failure-msg]="isFailure"
                >
                    {{ updateMsg }}
                </div>
            <div mat-dialog-actions align="end">
              <button mat-raised-button (click)="this.performDelete(true);" color="primary" [disabled]="isSuccess">Confirm</button>
              <button mat-raised-button cdkFocusInitial (click)="this.closeDialog()">Close</button>
            </div>
        </div>
    </body>
</html>
