<div class="parent">

            <mat-tab-group [selectedIndex]="selected.value" 
               (selectedIndexChange)="selected.setValue($event)" style="margin-right: 32px;">
                <mat-tab *ngFor="let tab of tabs; let index = index" [label]="tab.displayName">
                    <ng-template mat-tab-label>
                        
                        <ng-container *ngIf="index !== 0 && tabs[index].status === 'Loading'">
                            <mat-spinner [diameter] = "20"></mat-spinner>
                        </ng-container>

                        <ng-container *ngIf="index !== 0 && tabs[index].status === 'Failed'">
                            <mat-icon class="failed-refresh" (click)="reRun(index)" *ngIf="index !== 0">error</mat-icon>
                            
                        </ng-container>

                        &nbsp;

                        {{ tab.displayName }}
                        <br>

                        ({{ asOfDate | date:"dd/MM/yyyy" }}) 

                        <mat-icon (click)="removeTab(index)" *ngIf="index !== 0">close</mat-icon>


                    </ng-template>

                    <app-portfolio-modeller
                        *ngIf = "index === 0" 
                        style = "display: block; height: calc(100vh - 64px - 50px); width: 100%;"
                        (calcParamsEmitter) = "irrCalcParamsReceived($event)"
                        (returnsParamsEmitter) = "returnsParamsReceived($event)">
                    </app-portfolio-modeller>

                    <app-irr-result 
                        *ngIf="index !== 0 && tab.resultType === 'IRR'" 
                        style="display: block; height: calc(100vh - 64px - 50px);"
                        (status)="statusReceived($event, index)"
                        [calcParams] = "calcParamsMap[tab.displayName]"
                    ></app-irr-result>

                    <app-monthly-returns
                        *ngIf="index !== 0 && tab.resultType === 'MonthlyReturns'"
                        style="display: block; height: calc(100vh - 64px - 50px);"
                        (status)="statusReceived($event, index)"
                        [calcParams] = "calcParamsMap[tab.displayName]"
                    ></app-monthly-returns>
               </mat-tab>
            </mat-tab-group>

</div>
 