:host {
    padding: 0;
    margin: 0;
    font-size: 62.5% /* = 10px*/;
}

// .parent{
//   margin-right: 2rem;
// }

.parent mat-tab-group div mat-tab-body div{
    /*
        To hide the scrollbar caused by ng-multiselect-dropdown when opened.
    */
    overflow: hidden;
}
