<div class="confirmation">
    <div class="header">
        <h2 mat-dialog-title>
            {{headerText}}
        </h2>
    </div>
    <div class="form">
        <div *ngIf="configData.showTextField;">
            <mat-form-field appearance="outline" class="input-field w-100">
                <mat-label> Comment </mat-label>
                <input type="text" autocomplete="off" matInput [formControl] = "textField" />
                <button matSuffix mat-icon-button aria-label="Clear" type="button"  (click)="textField.reset()">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <div  *ngIf="configData.showCustomForm;">
            <ng-container *ngTemplateOutlet="form;"></ng-container>
        </div>
    </div>
    <mat-dialog-actions align="end">
        <div>

            <button mat-raised-button (click)="close('Confirm')" color="primary">
                Confirm
            </button>
            
            <button mat-raised-button (click)="close('Cancel')">Cancel</button>
            
        </div>
    </mat-dialog-actions>
    
</div>