<div class="parent">
    <div class="header">
        <div class="title">
            Performance Fees
        </div>
        <div class="action">
    
        </div>
    </div>

    <div class="content">
        <mat-card class="mat-content">

                        <app-fee-calculation-summary [feeSmy] = "rowDataSmy"
                        ></app-fee-calculation-summary>                        
                        
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Fee Cashflows
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <ag-grid-angular
                        [modules] = "agGridModules"
                        [gridOptions] = "gridOptionsCFs"
                        [adaptableOptions] = "adaptableOptionsCFs"
                        [rowData] = "rowDataCFs"
                        class="ag-theme-alpine ag-grid"
                    >
                    </ag-grid-angular>
            
                </mat-expansion-panel>
            </mat-accordion>

        </mat-card>
    </div>
</div>