.container{
    display: flex;
    gap: 2rem;
}

.col{
    display: flex;
    flex-direction: column;
}

.success-msg{
    color: rgb(8, 204, 90);
    padding: 5px
}

.failure-msg{
    color: red;
    padding: 5px;
}
