<div class="parent">
    <div class="header">
        <div class="title">
            Fee Attribution
            <span *ngIf = "asofdate$ | async as dt" style="font-size: 1rem; font-weight: normal;">
                ({{dt | date:"dd/MM/yyyy"}} | 
            </span>
            <span *ngIf = "asOfDateRange$ | async as dt" style="font-size: 1rem; font-weight: normal;">
                {{dt.start | date:"dd/MM/yyyy" }} - {{dt.end | date:"dd/MM/yyyy"}})
            </span>
        </div>

        <ng-container *ngIf="funds$ | async"></ng-container>

        <div class="action">

        </div>    
    </div>
    <div class="content">
        <mat-card appearance="raised" class="mat-content">
            <ng-container *ngIf="{ value1: rowData$ | async } as rd">
                <app-fee-attribution-grid [rowData]="rd?.value1">
                </app-fee-attribution-grid>
            </ng-container>
        </mat-card>
    </div>
</div>