<h2 mat-dialog-title>Update - Going In Rate</h2>
<mat-dialog-content>

    <div class="group-selected" >
        <div class="bulk-gir-update" *ngIf="isGroupSelectedValid || !isGroupSelected">

            <div>
                
                <div class="popup-cont-1">
                    <span>
                        Conversion from {{allLeafChildrenData[0].positionCcy}} to {{allLeafChildrenData[0].fundCcy}}
                    </span>
                    <div>
                        <mat-form-field class="editable" appearance="outline" floatLabel="always" color="accent">
                            <mat-label> Going In Rate </mat-label>                        
                            <input matInput class="forex" cdkFocusInitial type="number"  [readonly]="!isEditAllowed"  required [(ngModel)]="goingInRate">
                        </mat-form-field>
                    </div>
                </div>

                <div class="success-msg" *ngIf="isSuccessMsgAvailable">
                   {{ updateMsg }}
                </div>
                <div class="failure-msg" *ngIf="isFailureMsgAvailable">
                    {{ updateMsg }}
                </div>

                <div class="popup-cont-1">
                    <ag-grid-angular
                    style="width: 1100px; height: 200px;"
                    [rowData]="allLeafChildrenData"
                    [columnDefs]="columnDefs"
                    (gridReady)="onGridReady($event)"
                    class="ag-theme-alpine"
                    >
                    </ag-grid-angular>
                </div>
            </div>
            <div>
            </div>
            
        </div>
        <div class="invalid-grouping-message" *ngIf="!isGroupSelectedValid && isGroupSelected">
            Fund currency and position currency not natching for all rows.
            <button mat-raised-button (click)="closeDialog()" >Cancel</button>
        </div>
    </div>

</mat-dialog-content>
    <mat-dialog-actions align="end" *ngIf="isGroupSelectedValid || !isGroupSelected">
    
        <button class="btn-update" [disabled]="!isUpdateAllowed" mat-raised-button (click)="doAction()" color="primary">Update</button>
        <button mat-raised-button (click)="closeDialog()" >Close</button>
            
    <mat-dialog-actions>
