.dialog{
    margin: auto;
}
.edit-container{
    margin: 0 auto;

    width: 70%;
    display: flex;

    justify-content: space-between;
    flex-wrap: wrap;

    max-width: 500px;

}

#heading{
    text-align: center;
}

.edit-col{
    flex: 50%;
    width: 100%;
}

.action{
    text-align: center;
}

.action button{
    margin: 10px
}

::ng-deep .mat-form-field-appearance-outline{
    color: #000 !important;
}
    /* Thin outline*/
/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
// ::ng-deep .mat-form-field-outline {
//     color: #ccc !important ;
// }

// Resolution

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
// .editable ::ng-deep .mat-form-field-outline {
//         color: #0590ca !important ;
// }    

    /* Floating label*/
/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
// ::ng-deep .mat-mdc-form-field.mat-focused .mat-form-field-label {
//     color: #000 !important;
// }

// Resolution
// This component is no longer used

.popup-cont-1{
    display: flex;
    justify-content: space-between;
}

.popup-cont-1 span{
    padding-top: 2%;
    font-weight: normal;
    font-size: medium;
}

.success-msg{
    color: rgb(8, 204, 90);
    padding: 5px
}

.failure-msg{
    color: red;
    padding: 5px;
}

.btn-update{
    margin-right: 5px;
}