<div class="parent">
    <div class="header">
        <div class="title">
            Market Value Delta
            <span style="font-size: 1rem; font-weight: normal;">
                (
                <span *ngIf = "currentAsOfDateRange$ | async as rg">
                    {{rg.start | date:"dd/MM/yyyy" }}
                    -
                    {{rg.end | date:"dd/MM/yyyy" }}
                </span>
                <span *ngIf = "currentNewIssuerOrAsset$ | async as dl">
                    | {{dl}} 
                </span>
                )
            </span>
        </div>

        <div class="action">
         


        </div>    
    </div>

    <div class="content">
        <mat-card appearance="raised" class="mat-content">
            <app-grid style="height:100%">
            </app-grid>
        </mat-card>
    </div>
</div>


