<div class="parent">
    <div class="header">
        <div class="title">
            Position Cashflows
            <span style="font-size: 1rem; font-weight: normal;">
                (
                <span *ngIf = "asOfDate$ | async as dt">
                    {{dt | date:"dd/MM/yyyy" }}
                </span>
                )
            </span>
        </div>

        <div class="action">
        </div>    
    </div>

    <div class="content">
        <mat-card appearance="raised" class="mat-content">

                <app-grid style="height:100%"
                [gridOptions]         =     "eqPoscashGridConfigSvc.gridOptions"
                [adaptableOptions]    =     "eqPoscashGridConfigSvc.adaptableOptions"
                >
                </app-grid>
        </mat-card>
    </div>
</div>


