<div class="parent">
    <div class="header">
        <div class="title">
            Ref Data Manager
        </div>
        <div class="action">
            <button mat-icon-button
            matTooltip="Add Ref Data"
            (click)="openDialog()">
                <mat-icon class="material-icons-outlined">add_circle_outline</mat-icon>
            </button>
        </div>
    </div>

    <div class="content">
        <mat-card appearance="raised" class="mat-content">

            <ag-grid-angular
            [gridOptions] = "gridOptions"
            [adaptableOptions] = "adaptableOptions"
            [rowData] = "rowData | async"
            [modules] = "agGridModules"
            (adaptableReady) = "onAdaptableReady($event)"
            class="ag-theme-alpine ag-grid">                
            </ag-grid-angular>

        </mat-card>
    </div>
</div>