<mat-form-field [style]="customMatAutoCompleteStyle" appearance="outline">
    <!-- <mat-label>Field</mat-label> -->
    <input type="text"
           matInput
           cdkFocusInitial
           [formControl]="field"
           [matAutocomplete]="auto"
           class="input-field"
           >
    <mat-autocomplete #auto="matAutocomplete" matAutocompletePosition="below" panelWidth="auto">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>