<app-file-dropzone 
    [header]="'Capital Activity Bulk Upload'"
    [hideDropzone]="hideDropzone"
    (fileEmitter)="onFileReceived($event)"
>

    <ng-template #fileTemplate>
        <div>
            <a style="width: 100px; font-size: 2.4rem;"
            class="ag-grid"
            matTooltip="Download template"
            href="../../../../assets/files/templates/CapitalActivityUploadTemplate.xlsx" download="CapitalActivityUploadTemplate.xlsx">
                <mat-icon class="icon-color">download</mat-icon>
            </a>
        </div>
    </ng-template>

    <ng-template #message>
        <div *ngIf="isSuccess"
        class="update-msg success"
        >
            {{ updateMsg }}
        </div>
        <div *ngIf="isFailure"
        class="update-msg failure"
        >
            {{ updateMsg }}
        </div>
        <div *ngIf="!isValid"
        class="update-msg failure"
        >
            {{validationErrorMsg}}
        </div>    
    </ng-template>

    <ng-template #grid>
        <ng-container *ngIf="(invalidRowData.length + bulkRowData.length) > 0">
            <ag-grid-angular class="ag-grid ag-theme-alpine"
                [adaptableOptions]="adaptableOptions"
                [gridOptions]="gridOptions"
                [defaultColDef]="defaultColDef"
                [modules]="agGridModules"
                [columnDefs]="columnDefs"
                [rowData]="!isValid ? invalidRowData : bulkRowData"
                [tooltipShowDelay]="tooltipShowDelay"
                [sideBar]="'columns'"
                (adaptableReady)="onAdaptableReady($event)"
            >
            </ag-grid-angular>
        </ng-container>    
    </ng-template>

    <ng-template #submit>
        <button mat-raised-button color="primary"
            [disabled]="disableSubmit"
            (click)="onSave()">Submit
        </button>
    
        <button mat-raised-button (click)="closeDialog()">Close</button>
    </ng-template>

</app-file-dropzone>