<!-- Using bootstrap in-built classes for containerization (row, col-3) -->


    <mat-stepper linear #stepper>
        <form [formGroup]="form">
            <mat-step [stepControl]="form.controls['general']" errorMessage="{{stepperError}}">
                <ng-template matStepLabel>General</ng-template>
                <div class="row" formGroupName="general">
                    <mat-form-field class="col-3" appearance="outline">
                        <mat-label>Preset Name</mat-label>
                        <input matInput type="text" formControlName="presetName" 
                        autocomplete="off">
                    </mat-form-field>
                    <mat-form-field class="col-3" appearance="outline">
                        <mat-label>Entity</mat-label>
                        <input matInput type="text" formControlName="entity">
                    </mat-form-field>
                    <mat-form-field class="col-3" appearance="outline">
                        <mat-label>Commitment</mat-label>
                        <input matInput type="text" InputAmountNumber formControlName="commitment"
                        autocomplete="off">
                    </mat-form-field>
                    <mat-form-field class="col-3" appearance="outline">
                        <mat-label>Current Capital Called</mat-label>
                        <input matInput type="text" InputAmountNumber formControlName="currentCapitalCalled"
                        autocomplete="off">
                    </mat-form-field>
                    <mat-form-field class="col-3" appearance="outline">
                        <mat-label>Start Date</mat-label>
                        <input matInput [matDatepicker]="startDatePicker" formControlName="startDate"
                        autocomplete="off">
                        <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #startDatePicker></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field class="col-3" appearance="outline">
                        <mat-label>Curve Currency</mat-label>
                        <input matInput type="text" formControlName="curveCurrency"
                        autocomplete="off">
                    </mat-form-field>
                    <mat-form-field class="col-3" appearance="outline">
                        <mat-label>Curve Name</mat-label>
                        <input matInput type="text" formControlName="curveName"
                        autocomplete="off">
                    </mat-form-field>
                </div>
            </mat-step>

            <mat-step [stepControl]="form.controls['terms']" errorMessage="{{stepperError}}">
                <ng-template matStepLabel>Terms</ng-template>
                <div class="row" formGroupName="terms">
                    <mat-form-field class="col-3" appearance="outline">
                        <mat-label>Catchup Rate Percent</mat-label>
                        <input matInput type="number" formControlName="catchupRate"
                        autocomplete="off">
                    </mat-form-field>

                    <mat-form-field class="col-3" appearance="outline">
                        <mat-label>Has Catchup</mat-label>
                        <mat-select formControlName="hasCatchup">
                            <mat-option [value]="'Yes'">Yes</mat-option>
                            <mat-option [value]="'No'">No</mat-option>
                        </mat-select>
                    </mat-form-field>
                    
                    <mat-form-field class="col-3" appearance="outline">
                        <mat-label>Hurdle Compounding Years
                        </mat-label>
                        <input matInput type="number" formControlName="hurdleCompoundingYears"
                        autocomplete="off">
                    </mat-form-field>

                    <mat-form-field class="col-3" appearance="outline">
                        <mat-label>Hurdle Rate Percent
                        </mat-label>
                        <input matInput type="number" formControlName="hurdleRate"
                        autocomplete="off">
                    </mat-form-field>

                    <mat-form-field class="col-3" appearance="outline">
                        <mat-label>Include Management Fee</mat-label>
                        <!-- <input matInput type="text" formControlName="includeMgmtFee"> -->
                        <mat-select formControlName="includeMgmtFee">
                            <mat-option [value]="'Yes'">Yes</mat-option>
                            <mat-option [value]="'No'">No</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="col-3" appearance="outline">
                        <mat-label>IncludeOtherExpense</mat-label>
                        <mat-select formControlName="includeOtherExpense">
                            <mat-option [value]="'Yes'">Yes</mat-option>
                            <mat-option [value]="'No'">No</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="col-3" appearance="outline">
                        <mat-label>Investment Date</mat-label>
                        <input matInput [matDatepicker]="investmentDatePicker" type="text" formControlName="investmentDate"
                        autocomplete="off">
                        <mat-datepicker-toggle matSuffix [for]="investmentDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #investmentDatePicker></mat-datepicker>
                    </mat-form-field>              

                    <mat-form-field class="col-3" appearance="outline">
                        <mat-label>Is Mgmt Fees Paid At End</mat-label>
                        <mat-select formControlName="isMgmtFeesPaidAtEnd">
                            <mat-option [value]="'Yes'">Yes</mat-option>
                            <mat-option [value]="'No'">No</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="col-3" appearance="outline">
                        <mat-label>Is Perf Fees Paid At End</mat-label>
                        <mat-select formControlName="isPerfFeesPaidAtEnd">
                            <mat-option [value]="'Yes'">Yes</mat-option>
                            <mat-option [value]="'No'">No</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="col-3" appearance="outline">
                        <mat-label>Is Quarter End Mgmt Fees</mat-label>
                        <mat-select formControlName="isQuarterEndMgmtFees">
                            <mat-option [value]="'Yes'">Yes</mat-option>
                            <mat-option [value]="'No'">No</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="col-3" appearance="outline">
                        <mat-label>Management Fees Rate Percent</mat-label>
                        <input matInput type="number" formControlName="mgmtFeesRate"
                        autocomplete="off">
                    </mat-form-field>

                    <mat-form-field class="col-3" appearance="outline">
                        <mat-label>Other Expense Rate Percent</mat-label>
                        <input matInput type="number" formControlName="otherExpenseRate"
                        autocomplete="off">
                    </mat-form-field>

                    <mat-form-field class="col-3" appearance="outline">
                        <mat-label>Perf Fees Rate Percent</mat-label>
                        <input matInput type="number" formControlName="perfFeesRate"
                        autocomplete="off">
                    </mat-form-field>

                    <mat-form-field class="col-3" appearance="outline">
                        <mat-label>Undrawn Commit Fees Rate Percent</mat-label>
                        <input matInput type="number" formControlName="undrawnCommitFeesRate"
                        autocomplete="off">
                    </mat-form-field>

                    <mat-form-field class="col-3" appearance="outline">
                        <mat-label>Use GIR Adjustment</mat-label>
                        <mat-select formControlName="useGIRAdjustment">
                            <mat-option [value]="'Yes'">Yes</mat-option>
                            <mat-option [value]="'No'">No</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="col-3" appearance="outline">
                        <mat-label>Is Perf Fee After Mgmt Fee</mat-label>
                        <mat-select formControlName="isPerfFeeAfterMgmtFee">
                            <mat-option [value]="'Yes'">Yes</mat-option>
                            <mat-option [value]="'No'">No</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </mat-step>

            <mat-step [stepControl]="form.controls['financing']" errorMessage="{{stepperError}}">
                <ng-template matStepLabel>Financing</ng-template>
                <div class="row" formGroupName="financing">
                    <mat-form-field class="col-3" appearance="outline">
                        <mat-label>Financing Commitment</mat-label>
                        <input matInput type="text" InputAmountNumber formControlName="financingCommitment"
                        autocomplete="off">
                    </mat-form-field>
                    <mat-form-field class="col-3" appearance="outline">
                        <mat-label>Financing Start Date</mat-label>
                        <input matInput [matDatepicker]="financingStartDatePicker" formControlName="financingStartDate"
                        autocomplete="off">
                        <mat-datepicker-toggle matSuffix [for]="financingStartDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #financingStartDatePicker></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field class="col-3" appearance="outline">
                        <mat-label>Financing End Date</mat-label>
                        <input matInput [matDatepicker]="financingEndDatePicker" formControlName="financingEndDate"
                        autocomplete="off">
                        <mat-datepicker-toggle matSuffix [for]="financingEndDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #financingEndDatePicker></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field class="col-3" appearance="outline">
                        <mat-label>Financing Max Capital Deployment Per Month</mat-label>
                        <input matInput type="text" InputAmountNumber formControlName="financingMaxCapitalDeploymentPerMonth"
                        autocomplete="off">
                    </mat-form-field>
                </div>
            </mat-step>

            <mat-step [stepControl]="form.controls['financingAdvanced']" errorMessage="{{stepperError}}">
                <ng-template matStepLabel>Financing (Advanced)</ng-template>

                <div class="row" formGroupName="financingAdvanced">
                    <mat-form-field class="col-3" appearance="outline">
                        <mat-label>Financing Stage1 Ratio</mat-label>
                        <input matInput type="number" formControlName="financingStage1Ratio"
                        autocomplete="off">
                    </mat-form-field>
                    <mat-form-field class="col-3" appearance="outline">
                        <mat-label>Financing Stage2 Ratio</mat-label>
                        <input matInput type="number" formControlName="financingStage2Ratio"
                        autocomplete="off">
                    </mat-form-field>
                    <mat-form-field class="col-3" appearance="outline">
                        <mat-label>Financing Stage3 Ratio</mat-label>
                        <input matInput type="number" formControlName="financingStage3Ratio"
                        autocomplete="off">
                    </mat-form-field>
                    <mat-form-field class="col-3" appearance="outline">
                        <mat-label>Financing Stage1 End Date</mat-label>
                        <input matInput [matDatepicker]="financingStage1EndDatePicker" formControlName="financingStage1EndDate"
                        autocomplete="off">
                        <mat-datepicker-toggle matSuffix [for]="financingStage1EndDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #financingStage1EndDatePicker></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field class="col-3" appearance="outline">
                        <mat-label>Financing Stage2 End Date</mat-label>
                        <input matInput [matDatepicker]="financingStage2EndDatePicker" formControlName="financingStage2EndDate"
                        autocomplete="off">
                        <mat-datepicker-toggle matSuffix [for]="financingStage2EndDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #financingStage2EndDatePicker></mat-datepicker>
                    </mat-form-field>                
                </div>
            </mat-step>

            <mat-step [stepControl]="form.controls['capitalDeployment']" errorMessage="{{stepperError}}">
                <ng-template matStepLabel>Capital Deployment</ng-template>
                <div class="row" formGroupName="capitalDeployment">
                    <mat-form-field class="col-3" appearance="outline">
                        <mat-label>Max Capital Deployment Per Month</mat-label>
                        <input matInput type="text" InputAmountNumber formControlName="maxCapitalDeploymentPerMonth"
                        autocomplete="off">
                    </mat-form-field>
                    <mat-form-field class="col-3" appearance="outline">
                        <mat-label>Reinvest Interest</mat-label>
                        <mat-select formControlName="reinvestInterest">
                            <mat-option [value]="'Yes'">Yes</mat-option>
                            <mat-option [value]="'No'">No</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="col-3" appearance="outline">
                        <mat-label>Holding Date</mat-label>
                        <input matInput [matDatepicker]="holdingDatePicker" type="text" formControlName="holdingDate"
                        autocomplete="off">
                        <mat-datepicker-toggle matSuffix [for]="holdingDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #holdingDatePicker></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field class="col-3" appearance="outline">
                        <mat-label>Holdback Percent</mat-label>
                        <input matInput type="number" formControlName="holdback"
                        autocomplete="off">
                    </mat-form-field>
                </div>
            </mat-step>

            <mat-step [stepControl]="form.controls['other']" errorMessage="{{stepperError}}">
                <ng-template matStepLabel>Other</ng-template>
                <div class="row" formGroupName="other">
                    <mat-form-field class="col-3" appearance="outline">
                        <mat-label>Override Expected</mat-label>
                        <mat-select formControlName="overrideExpected">
                            <mat-option [value]="'Yes'">Yes</mat-option>
                            <mat-option [value]="'No'">No</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="col-3" appearance="outline">
                        <mat-label>Use FX Hedging Cashflows</mat-label>
                        <mat-select formControlName="useFXHedgingCashflows">
                            <mat-option [value]="'Yes'">Yes</mat-option>
                            <mat-option [value]="'No'">No</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="col-3" appearance="outline">
                        <mat-label>OtherExpensesFixed</mat-label>
                        <input matInput type="text" InputAmountNumber formControlName="otherExpensesFixed"
                        autocomplete="off">
                    </mat-form-field>
                </div>
            </mat-step>
        </form>
    </mat-stepper>
