<ng-container *ngIf="baseMeasures?.length > 0">
    <h2>
        Portfolio Model Editor
    </h2>
    
    <div *ngIf="isSuccess || isFailure"
    [class.success-msg]="isSuccess"
    [class.failure-msg]="isFailure"
    >
        {{ updateMsg }}
    </div>
    
    <mat-dialog-content>
            <!-- How to add labels on both sides of mat-slide-toggle
                https://stackoverflow.com/a/58204995/17121446
            -->
    
        <form [formGroup]="modelForm" autocomplete="off">
            <div class="row gy-3 d-flex align-items-center">
                    <div class="col-3">
                        <div>
                            <div class="mat-slide-toggle-content">
                                Create &nbsp;
                            </div>
                            <mat-slide-toggle [disabled]="disableUpdate || isSuccess"
                            [color]="'primary'" formControlName="isUpdate">
                                Update
                            </mat-slide-toggle>
                        </div>
                    </div>

                    <div class="col-3">
                        <mat-slide-toggle
                        [color]="'primary'" formControlName="isShared">
                            Shared
                        </mat-slide-toggle>
                    </div>

                    <div class="col-3">
                        <mat-slide-toggle
                        [color]="'primary'" formControlName="latestWSOStatic">
                            Latest WSO Static
                        </mat-slide-toggle>
                    </div>

                    <div class="col-3">

                    </div>

                    
                    <mat-form-field class="col-3" appearance="outline">
                        <mat-label>Model Name</mat-label>
                        <input matInput type="text" name="model-name" autocomplete="off" formControlName="modelName" required>
                        <button matSuffix mat-icon-button aria-label="Clear" type="button"  (click)="modelForm?.get('modelName').reset()" [disabled]="isSuccess">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>

                    <mat-form-field *ngIf = "!isClonedModel" appearance="outline" class="col-3">
                        <mat-label>Select Calculation Type</mat-label>
                        <mat-select formControlName="calculationType" multiple required disableOptionCentering>
                            <mat-option *ngFor="let calType of calculationTypes" [value]="calType">{{calType}}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <div class="col-3" *ngIf = "isClonedModel"></div>

                    <div class="col-6">
                        <div class="flex-row d-flex justify-content-between">
                                <button mat-raised-button 
                                [disabled]="modelForm?.invalid ? true : isSuccess" type="button" class="w-10"
                                color="primary" (click)="onProceed('Save')">Save</button>

                                <button *ngIf = "!isClonedModel"
                                mat-raised-button [disabled]="disableSaveAndRun" type="button"
                                color="primary" (click)="onProceed('SaveRun')" class="w-18">Save & Run</button>

                                <div *ngIf = "!isClonedModel" class="w-10"></div>

                                <button mat-raised-button (click)="onClose()" type="button" class="w-10">Cancel</button>
                        </div>
                    </div>



                    <mat-form-field class="col-3" appearance="outline">
                        <mat-label>Model Description</mat-label>
                        <input matInput type="text" name="model-desc" autocomplete="off" formControlName="modelDesc">
                        <button matSuffix mat-icon-button aria-label="Clear" type="button"  (click)="modelForm?.get('modelDesc').reset()" [disabled]="isSuccess">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>

                    <mat-form-field class="col-3" appearance="outline">
                        <mat-label>IRR Aggregation Type</mat-label>
                        <mat-select formControlName="aggregationType" required disableOptionCentering [disabled]="isIRRDisabled && !isClonedModel">
                          <mat-option *ngFor="let aggr of aggregationTypes" [value]="aggr.type">
                            {{aggr.type}}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="col-3" appearance="outline">
                        <mat-label>Monthly Returns Base Measure</mat-label>
                        <mat-select formControlName="baseMeasure" required disableOptionCentering [disabled]="isMonthlyReturnsDisabled && !isClonedModel">
                          <mat-option *ngFor="let bM of baseMeasures" [value]="bM.baseMeasure">
                            {{bM.baseMeasure}}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="col-3" appearance="outline">
                        <mat-label>Fee Preset</mat-label>
                        <mat-select formControlName="feePreset" required disableOptionCentering [disabled]="isFeePresetDisabled && !isClonedModel">
                          <mat-option *ngFor="let fp of feePresets" [value]="fp.feePreset">
                            {{fp.feePreset}}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="col-3" appearance="outline">
                        <mat-label>Base Curve Rate</mat-label>
                        <mat-select formControlName="curveRateName" required disableOptionCentering [disabled]="isIRRDisabled && !isClonedModel">
                          <mat-option *ngFor="let c of curveRates" [value]="c.curveRateName">
                            {{c.curveRateName}}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="col-3" appearance="outline">
                        <mat-label>FX Hedge Base ccy</mat-label>
                        <mat-select formControlName="fundCurrency" required disableOptionCentering>
                          <mat-option *ngFor="let fc of fundCurrencies" [value]="fc.fundCurrency">
                            {{fc.fundCurrency}}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="col-12" appearance="outline">
                        <mat-label>Aggregation Order</mat-label>
                        <mat-chip-grid #aggrColList aria-label="Aggregation column selection">
                          <mat-chip-row *ngFor="let aggrCol of aggrCols"
                            [removable]="true"
                            (removed)="removeAggrCol(aggrCol)">
                            {{aggrCol}}
                            <button matChipRemove *ngIf="removableChip">
                              <mat-icon>cancel</mat-icon>
                            </button>
                          </mat-chip-row>
                          <input
                            [disabled]="isIRRDisabled && !isClonedModel"
                            placeholder="New aggregation..."
                            #aggrColInput
                            formControlName="aggrStr"
                            [matAutocomplete]="autoAggrStr"
                            [matChipInputFor]="aggrColList"
                            (matChipInputTokenEnd)="addAggrCol($event)">
                        </mat-chip-grid>
                        <mat-autocomplete #autoAggrStr="matAutocomplete" (optionSelected)="selectedAggrCol($event)">
                          <mat-option *ngFor="let aggrCol of filteredAggrCols | async" [value]="aggrCol">
                            {{aggrCol}}
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>

            </div>
            <div class="row">
    
                <div *ngIf="autoManualOption == 'Automatic'" class="form-field elements-list">
                    Rules:
                    <div *ngFor="let rule of rules">
                        Column: {{ rule.ColumnId }}, {{ rule.Predicate.PredicateId }}: {{ rule.Predicate.Inputs }}
                    </div>
                </div>

                <div *ngIf="autoManualOption == 'Manual'" class="elements-list">
                    Position IDs: &nbsp;
                    <ng-container *ngIf="positionIDs?.length > 50 && !readMore">
                        <ng-container *ngFor="let ID of positionIDs.slice(0, 50)">
                            {{ ID }},
                        </ng-container>
                        <a (click)="readMore = true">...read more</a>                                
                    </ng-container>
                    

                    <ng-container *ngIf="readMore || positionIDs?.length <= 50">
                        <ng-container *ngFor="let ID of positionIDs">
                            {{ ID }},
                        </ng-container>
                        <a *ngIf="readMore" (click)="readMore = false">...read less</a>                                
                    </ng-container>

                </div>    
            </div>

            <br>Fee Presets
            <div class="row">
                <app-fee-presets-grid [feePreset] = "modelForm?.get('feePreset').value"></app-fee-presets-grid>
            </div>

        </form>
        
    </mat-dialog-content>    
</ng-container>
