<ng-container *ngIf="baseMeasures?.length > 0">
    <h2>
        Portfolio Model Editor
    </h2>
    
    <div *ngIf="isSuccess || isFailure"
    [class.success-msg]="isSuccess"
    [class.failure-msg]="isFailure"
    >
        {{ updateMsg }}
    </div>
    
    <mat-dialog-content>
            <!-- How to add labels on both sides of mat-slide-toggle
                https://stackoverflow.com/a/58204995/17121446
            -->
    
        <form [formGroup]="modelForm" autocomplete="off">
            <div class="row gy-3 d-flex align-items-center">
                    <div class="col-3">
                        <div>
                            <div class="mat-slide-toggle-content">
                                Create &nbsp;
                            </div>
                            <mat-slide-toggle [disabled]="disableUpdate || isSuccess"
                            [color]="'primary'" formControlName="isUpdate">
                                Update
                            </mat-slide-toggle>
                        </div>
                    </div>

                    <div class="col-3">
                        <mat-slide-toggle
                        [color]="'primary'" formControlName="isShared">
                            Shared
                        </mat-slide-toggle>
                    </div>

                    <div class="col-3">

                    </div>

                    <div class="col-3">

                    </div>

                    
                    <mat-form-field class="col-3" appearance="outline">
                        <mat-label>Model Name</mat-label>
                        <input matInput type="text" name="model-name" autocomplete="off" formControlName="modelName" required>
                        <button matSuffix mat-icon-button aria-label="Clear" type="button"  (click)="modelForm?.get('modelName').reset()" [disabled]="isSuccess">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="col-3">
                        <mat-label>Select Calculation Type</mat-label>
                        <mat-select formControlName="calculationType" multiple required disableOptionCentering>
                            <mat-option *ngFor="let calType of calculationTypes" [value]="calType">{{calType}}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <div class="col-6">
                        <div class="flex-row d-flex justify-content-between">
                                <button mat-raised-button 
                                [disabled]="modelForm?.invalid ? true : isSuccess" type="button" class="col-2"
                                color="primary" (click)="onProceed('Save')">Save</button>

                                <button mat-raised-button [disabled]="(modelForm?.invalid || (isFeePresetDisabled && isMonthlyReturnsDisabled && isIRRDisabled))? true : isSuccess " type="button"
                                color="primary" (click)="onProceed('SaveRun')" class="col-2">Save & Run</button>

                                <button mat-raised-button (click)="onClose()" type="button" class="col-2">Cancel</button>
                        </div>
                    </div>



                    <mat-form-field class="col-3" appearance="outline">
                        <mat-label>Model Description</mat-label>
                        <input matInput type="text" name="model-desc" autocomplete="off" formControlName="modelDesc">
                        <button matSuffix mat-icon-button aria-label="Clear" type="button"  (click)="modelForm?.get('modelDesc').reset()" [disabled]="isSuccess">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>

                    <mat-form-field class="col-3" appearance="outline">
                        <mat-label>IRR Aggregation Type</mat-label>
                        <mat-select formControlName="aggregationType" required disableOptionCentering [disabled]="isIRRDisabled">
                          <mat-option *ngFor="let aggr of aggregationTypes" [value]="aggr.type">
                            {{aggr.type}}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="col-3" appearance="outline">
                        <mat-label>Monthly Returns Base Measure</mat-label>
                        <mat-select formControlName="baseMeasure" required disableOptionCentering [disabled]="isMonthlyReturnsDisabled">
                          <mat-option *ngFor="let bM of baseMeasures" [value]="bM.baseMeasure">
                            {{bM.baseMeasure}}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="col-3" appearance="outline">
                        <mat-label>Fee Preset</mat-label>
                        <mat-select formControlName="feePreset" required disableOptionCentering [disabled]="isFeePresetDisabled">
                          <mat-option *ngFor="let fp of feePresets" [value]="fp.feePreset">
                            {{fp.feePreset}}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>



                    <!-- <div class="col-3">    
                        <button mat-raised-button [disabled]="modelForm?.invalid ? true : isSuccess" type="button"
                        color="primary" (click)="onProceed('SaveRunIRR')">Save & Run IRR</button>
                    </div>


                    <div class="col-3">
                        <button mat-raised-button [disabled]="modelForm?.invalid ? true : isSuccess" type="button"
                        color="primary" (click)="onProceed('SaveRunMReturns')">Save & Run Monthly Returns</button>
                    </div>                
                    
                    <div class="col-3">
                        <button mat-raised-button [disabled]="modelForm?.invalid ? true : isSuccess" type="button"
                        color="primary" (click)="onProceed('SaveRunPFees')">Save & Run Performance Fees</button>
                    </div> -->
            </div>
            <div class="row">
    
                <div *ngIf="isAutomatic" class="form-field elements-list">
                    Rules:
                    <div *ngFor="let rule of rules">
                        Column: {{ rule.ColumnId }}, Values: {{ rule.Predicate.Inputs }}
                    </div>
                </div>

                <div *ngIf="!isAutomatic" class="elements-list">
                    Position IDs: &nbsp;
                    <ng-container *ngIf="positionIDs?.length > 50 && !readMore">
                        <ng-container *ngFor="let ID of positionIDs.slice(0, 50)">
                            {{ ID }},
                        </ng-container>
                        <a (click)="readMore = true">...read more</a>                                
                    </ng-container>
                    

                    <ng-container *ngIf="readMore || positionIDs?.length <= 50">
                        <ng-container *ngFor="let ID of positionIDs">
                            {{ ID }},
                        </ng-container>
                        <a *ngIf="readMore" (click)="readMore = false">...read less</a>                                
                    </ng-container>

                </div>    
            </div>

            <br>Fee Presets
            <div class="row">
                <app-fee-presets-grid [feePreset] = "modelForm?.get('feePreset').value"></app-fee-presets-grid>
            </div>

        </form>
        
    </mat-dialog-content>    
</ng-container>
