<div class="parent">
    <!-- <div class="header">
        <div class="title">
            Monthly Returns
        </div>
        <div class="action">
            <div>
                As Of Date : {{ asOfDate | date:"dd MMM yyyy" }}
            </div>

            <div>
                Model : {{ modelName }}
            </div>
            <div>Base Measure: {{ baseMeasure }}</div>
        </div>
    </div> -->

    <div class="content">
        <mat-card class="mat-content">
            <ag-grid-angular
            [gridOptions] = "gridOptionsMonthlyRets"
            [modules] = "agGridModules"
            [rowData] = "monthlyReturns"
            class="ag-theme-alpine ag-grid"
            >
            </ag-grid-angular>
        </mat-card>
    </div>

</div>