
     <div class="search">
        <div class="sub-header" >
            Capital Activities
        </div>
        <div>
            <button mat-icon-button (click)="clearFilter()" matTooltip="Clear Filter" matTooltipClass="link-tooltip">
                <mat-icon class="material-icons-outlined">filter_alt_off</mat-icon>
            </button>

            <button mat-icon-button (click)="linkingSvc.lookupCapitalActivities()" matTooltip="Refresh Search" matTooltipClass="link-tooltip" *ngIf="!(actionSuccessful$ | async)">
                <mat-icon class="material-icons-outlined">refresh</mat-icon>
            </button>
        </div>
    </div>

    <ag-grid-angular
        style="height: 300px;"
        [adaptableOptions]="adaptableOptions"
        [gridOptions]="gridOptions"
        [defaultColDef]="defaultColDef"
        [modules]="agGridModules"
        [rowData]="linkingSvc.lookupActivities$ | async"
        (gridReady)="onGridReady($event)"
        (adaptableReady)="onAdaptableReady($event)"
        class="ag-theme-alpine"
    ></ag-grid-angular>