<ng-container *ngIf="receivedCapitalAct">
     <div class="search">
        <div class="found-text" >
            Capital Activities ({{ receivedCapitalAct.length }})
        </div>
        <div>
            <!-- .refresh-tooltip class is defined in styles.scss (Global Styles) -->
            <button mat-icon-button (click)="searchCapitalActivities()" matTooltip="Refresh searched capital activities" matTooltipClass="refresh-tooltip">
                <mat-icon class="material-icons-outlined">refresh</mat-icon>
            </button>
        </div>
    </div>

    <div *ngIf="isSuccess" class="success-msg">
        {{ updateMsg }}
    </div>

    <div *ngIf="isFailure" class="failure-msg">
        {{ updateMsg }}
    </div>

    <ag-grid-angular
     *ngIf="receivedCapitalAct.length !== 0"
        style="height: 250px;"
        [adaptableOptions]="adaptableOptions"
        [gridOptions]="gridOptions"
        [defaultColDef]="defaultColDef"
        [modules]="[]"
        [rowData]="receivedCapitalAct"
        (adaptableReady)="onAdaptableReady($event)"
        class="ag-theme-alpine"
    ></ag-grid-angular>
</ng-container>
    <mat-dialog-actions align="end">
        <button mat-raised-button color="primary" 
        [disabled]="(receivedCapitalID !== null) ? true : (buttonText === 'Create New' ? disableCreateNew : false)"
        (click)="action(buttonText)"> {{buttonText}} </button>
        <button mat-raised-button (click)="closePopUp()">Close</button>
    </mat-dialog-actions>