
.sub-header{
    font-weight: 500;
}
.success-msg{
    color: rgb(8, 204, 90);
    padding: 5px;
    padding-top: 2px;
}

.failure-msg{
    color: red;
    padding: 5px;
}

.material-icons-outlined{
    color: #0590ca;
    font-size: 24px;
}

.search{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
