<ng-container *ngIf="receivedCapitalAct">
     <div class="search">
        <div class="found-text" >
            Capital Activities ({{ receivedCapitalAct.length }})
        </div>
        <div>
            <!-- .link-tooltip class is defined in styles.scss (Global Styles) -->

            <button mat-icon-button (click)="clearFilter()" matTooltip="Clear Filter" matTooltipClass="link-tooltip">
                <mat-icon class="material-icons-outlined">filter_alt_off</mat-icon>
            </button>

            <button mat-icon-button (click)="searchCapitalActivities()" matTooltip="Refresh Search" matTooltipClass="link-tooltip">
                <mat-icon class="material-icons-outlined">refresh</mat-icon>
            </button>
        </div>
    </div>

    <div *ngIf="isSuccess || isFailure"
    [class.success-msg]="isSuccess"
    [class.failure-msg]="isFailure"
    >
        {{ updateMsg }}
    </div>

    <ag-grid-angular
     *ngIf="receivedCapitalAct.length !== 0"
        style="height: 300px;"
        [adaptableOptions]="adaptableOptions"
        [gridOptions]="gridOptions"
        [defaultColDef]="defaultColDef"
        [modules]="agGridModules"
        [rowData]="receivedCapitalAct"
        (gridReady)="onGridReady($event)"
        (adaptableReady)="onAdaptableReady($event)"
        class="ag-theme-alpine"
    ></ag-grid-angular>
</ng-container>

    <mat-dialog-actions align="end">
        <button mat-raised-button color="primary" 
        [disabled]="isSuccess ? true : (buttonText === 'Create New' ? disableCreateNew.disable : false)"
        (click)="action(buttonText)"> {{buttonText}} </button>

        <button mat-raised-button (click)="closePopUp()">Close</button>
    </mat-dialog-actions>