<div class="parent">
    <div class="header">
        <div class="title">
            Cash Balance
        </div>
        <div class="action">
            <div class="date-cont">
                <mat-icon class="date-range">date_range</mat-icon>
                <mat-label matTooltip="Please visit Filter Pane to change As Of Date" matTooltipClass="date-tooltip">From: {{sDate?.start | date:"dd/MM/yyyy"}}  - To: {{sDate?.end | date:"dd/MM/yyyy"}}</mat-label>
            </div>
        </div>
    </div>

    <div class="content">
        <mat-card class="mat-content">

            <ag-grid-angular
            [adaptableOptions]="adaptableOptions"
            [gridOptions]="gridOptions"
            [defaultColDef]="defaultColDef"
            [rowGroupPanelShow]="rowGroupPanelShow"
            [modules]="agGridModules"
            [rowData]="rowData"
            [sideBar]="'columns'"
            (adaptableReady)="onAdaptableReady($event)"
            class="ag-theme-alpine ag-grid"
            >
            </ag-grid-angular>
        </mat-card>
    </div>
</div>