.date-cont{
    display: flex;
    align-items: center;
}

.date-tooltip{

    /* Reference: https://github.com/angular/components/issues/8296 
      
      Only background-color can be directly specified, any other property needs to be overriden with !important. See reference for more info.
    */

  //   background-color: whitesmoke;
  //   color: black !important;
  font-size: 12px;
}

.date-range{
  margin-right: 5px;
  color:#0590ca;
}