<div class="element">
  Funds
  <app-multi-select
      [placeholder] = "'Select Fund(s)'"
      [settings] = "fundSettings"
      [dropdownData] = "funds"
      [selectedDropdownData] = "preSelectedFunds"
      (onNgModelChangeCallback) = "onFundChange($event)"
      >
  </app-multi-select>
</div>

<div class="element">
  Mark Type
  <app-multi-select
      [placeholder] = "'Select Mark Type'"
      [settings] = "markTypeSettings"
      [dropdownData] = "markTypes"
      [selectedDropdownData] = "preSelectedMarkTypes"
      (onNgModelChangeCallback) = "onMarkTypeChange($event)"
      >
  </app-multi-select>
</div>

<div class="element">

  <ng-container *ngIf="searchDateRange$ | async"></ng-container>
  
    <mat-form-field appearance="outline" color="primary">
      <mat-label>Previous Date - Current Date</mat-label>
      <mat-date-range-input [formGroup]="searchDateRange" [rangePicker]="picker">
        <input matStartDate formControlName="start" placeholder="Start date">
        <input matEndDate formControlName="end" placeholder="End date">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
      <mat-error *ngIf="searchDateRange.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
      <mat-error *ngIf="searchDateRange.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
    </mat-form-field>
  
</div>