<div>
    <mat-dialog-content>
        {{ confirmText }}

        <mat-form-field appearance="outline" class="input-field">
            <mat-label> Remark </mat-label>
            <input type="text" autocomplete="off" matInput [formControl] = "remark" />
            <button matSuffix mat-icon-button aria-label="Clear" type="button"  (click)="remark.reset()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>

    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <div>
            <button mat-raised-button (click)="closeDialog('Confirm')" color="primary">
                Confirm
            </button>
            
            <button mat-raised-button (click)="closeDialog('Cancel')">Cancel</button>
            
        </div>
    </mat-dialog-actions>
</div>