<div class="parent">
    <div class="header">
        <div class="title">
            Access Editor           
        </div>
    </div>
    <div class="content">
        <ng-container *ngIf="isFormReady">
          <form [formGroup]="form">
              <table>
                <thead>
                  <th>
                  </th>
                  <th *ngFor="let role of allRoles">
                     {{ role }}
                  </th>
                </thead>
                <tbody formArrayName="association">
                  <tr *ngFor="let tab of allTabs; let tabIndex=index">
                    <td> {{ tab }} </td>
                    <ng-container formArrayName="{{tabIndex}}">
                      <td *ngFor="let role of allRoles; let roleIndex=index">
                        <mat-checkbox type="checkbox" [color]="'primary'" formControlName="{{roleIndex}}" ></mat-checkbox>
                      </td>
                    </ng-container>
                  </tr>
                </tbody>
              </table>
          
              <button mat-raised-button color="primary" type="submit" [disabled]="form.pristine" (click)="onSubmit()"> Submit </button>
            </form>
        </ng-container>
    </div>
</div>


