<div class="parent">
    <div class="header">
        <div class="title">
            Liquidity Summary
            
        </div>
        <div class="action">
            <button mat-icon-button
            (click)="openAssetDialog()"
            matTooltip="Add unfunded asset"
            matTooltipClass="tooltip-style">
                <mat-icon class="material-icons-outlined">note_add</mat-icon>
            </button>

            <button mat-icon-button
            (click)="openDialog()"
            matTooltip="Add attribute"
            matTooltipClass="tooltip-style">
                <mat-icon class="material-icons-outlined">add_circle_outline</mat-icon>
            </button>
        </div>
    </div>

    <div class="content">
        <mat-card appearance="raised" class="mat-content">
            <ag-grid-angular
            [context]="context"
            [gridOptions]="gridOptions"
            [defaultColDef]="defaultColDef"
            [getMainMenuItems]="getMainMenuItems"
            [modules]="agGridModules"
            [rowData]="rowData"
            [sideBar]="'columns'"
            class="ag-theme-alpine ag-grid"
            (gridReady)="onGridReady($event)"
            >
            </ag-grid-angular>
        </mat-card>
    </div>
</div>