.edit{
    margin-left: 1rem;
    color: #285170;
    cursor: pointer;
}

.save{
    margin-left: 1rem;
    color: #0590ca;
    cursor: pointer;
}

.undo{
    margin-left: 1rem;
    color: #102439;
    cursor: pointer;
}

.approve{
    margin-left: 1rem;
    color: green;
    cursor: pointer;
}

.reject{
    margin-left: 1rem;
    color: red;
    cursor: pointer;
}
