<ng-container *ngIf="!params.node.group">


    <ng-container *ngIf="componentParent.accessObj.cloneAccess">
        <span *ngIf="!(componentParent.getSelectedRowID() === params.node.rowIndex)"
            (click)="cloneRow()"
            matTooltip="Clone row">
            <mat-icon class="clone">content_copy</mat-icon>
        </span>
    </ng-container>

    <ng-container *ngIf="componentParent.accessObj.editAccess">
        <span *ngIf="!(componentParent.getSelectedRowID() === params.node.rowIndex)"
            (click)="onEditClick()"
            matTooltip="Edit">
            <mat-icon class="edit">edit</mat-icon>
        </span>
    </ng-container>

    <ng-container *ngIf="componentParent.accessObj.editAccess || componentParent.accessObj.cloneAccess">
        <span *ngIf="(componentParent.getSelectedRowID() === params.node.rowIndex)"
            (click)="onSave()">
            <mat-icon class="save">save</mat-icon>
        </span>
        <span *ngIf="(componentParent.getSelectedRowID() === params.node.rowIndex)"
            (click)="undoEdit()">
            <mat-icon class="undo">cancel</mat-icon>
        </span>
    </ng-container>
</ng-container>
