<h3>{{ data.action }}</h3>
<div>
    <div *ngIf="isSuccess || isFailure"
    [class.success-msg]="isSuccess"
    [class.failure-msg]="isFailure"
    >
        {{ updateMsg }}
    </div>
</div>

<form [formGroup]="form" *ngIf="form">
        <div class="row" >
            <mat-form-field appearance="outline"
            [class.col-6]="attributeType"
            [class.col]="!attributeType">
                <mat-label>As Of Date</mat-label>
                <input matInput [matDatepicker]="asOfDatePicker" formControlName="asOfDate"
                autocomplete="off" 
                [disabled]="readOnly"
                [style.color]="readOnly ? 'grey' : null">
                <mat-datepicker-toggle matSuffix [for]="asOfDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #asOfDatePicker></mat-datepicker>
            </mat-form-field>
            
            <ng-container *ngIf="!!attributeType">
                <mat-form-field class="col-6" appearance="outline">
                    <mat-label>{{ form.get('attributeLevel').value || 'Attribute Level' }}</mat-label>
                    <mat-select formControlName="attributeLevelValue" disableOptionCentering
                    [disabled]="readOnly"
                    [style.color]="readOnly ? 'grey' : null">
                        <mat-option *ngFor="let value of levelValues" [value]="value" >{{ value}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </ng-container>
        </div>
        <div class="row">
            <mat-form-field appearance="outline"
            [class.col-6]="attributeType"
            [class.col]="!attributeType">
                <mat-label>Attribute Name</mat-label>
                <mat-select formControlName="attributeName" disableOptionCentering                
                [disabled]="readOnly"
                [style.color]="readOnly ? 'pink' : null">
                    <mat-option *ngFor="let attr of attrNames" [value]="attr" >{{ attr}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="col-6" appearance="outline"  *ngIf="attributeType=='String'">
                <mat-label>Attribute Value</mat-label>
                <input matInput type="text" formControlName="attributeValue"
                autocomplete="off">  
            </mat-form-field>

            <mat-form-field class="col-6" appearance="outline" *ngIf="attributeType=='Integer' || attributeType=='Decimal'">
                <mat-label>Attribute Value</mat-label>
                <input matInput type="number" formControlName="attributeValue"
                autocomplete="off">                
            </mat-form-field>


            <mat-form-field class="col-6" appearance="outline"  *ngIf="attributeType=='Boolean'">
                <mat-label>Attribute Value</mat-label>
                <mat-select formControlName="attributeValue" >
                    <mat-option [value]="'Yes'" >Yes</mat-option>
                    <mat-option [value]="'No'" >No</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="col-6" appearance="outline" *ngIf="attributeType=='Date'">
                <mat-label>Attribute Value</mat-label>
                <input matInput [matDatepicker]="customDatePicker" formControlName="attributeValue"
                autocomplete="off">
                <mat-datepicker-toggle matSuffix [for]="customDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #customDatePicker></mat-datepicker>
            </mat-form-field>
        </div>
</form>
<mat-dialog-actions align="end">
    <button mat-raised-button color="primary" 
        (click)="onSubmit()"
        [disabled]="isSuccess ? true : (!(this.form?.status === 'VALID') || !this.form?.dirty)">Submit</button>
    <button mat-raised-button (click)="onCancel()">Cancel</button>
</mat-dialog-actions>
