.container{
    display: flex;
    justify-content: space-between;
    gap: 30%;
}

.col{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    max-width: 300px;
}

.form-field{
    flex-grow: 1;
    flex-basis: 0;

    width: 100%;
}

.success-msg{
    color: rgb(8, 204, 90);
    margin-bottom: 1em;
}

.failure-msg{
    color: red;
    margin-bottom: 1em;
}
